@{
    ViewBag.Title = "Movies";
}
@section PageScripts{
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/GridMVC.css")" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GridMVCcustomFilter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JQueryValidators.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();   
}
<h2 style="float: left; width: 50%">
    Movies List</h2>
<div style="height: 55px; margin-top: 25px">
    <span class="actionLink"><a href="javascript:ShowAddMovieWindow();">Create New</a></span>
    <span class="actionLink">@Html.ActionLink("Export to Excel", "Export2XL")</span>
    <span class="actionLink">@Html.ActionLink("Export to Pdf", "Export2Pdf")</span>
    <span class="actionLink">@Html.ActionLink("Import from CSV", "Index", "BulkUpload")</span>
</div>
<div id="createMovieWindow">
</div>
<div id="updateMovieWindow">
</div>
<div id="displayMovieWindow">
</div>
<div id="moviesList">
    @Html.Partial("List")
</div>
